// Prefix for :root CSS variables
$variable-prefix: craft- !default;
$prefix: $variable-prefix !default;

// Options
// Quickly modify global styling by enabling or disabling optional features.
$enable-smooth-scroll: true !default;
$enable-rounded: true !default;
$enable-button-pointers: true !default;

// Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

// Spacing
$spacer: 1rem !default;

// Body
// Settings for the `<body>` element.
$body-text-align: null !default;
$body-color: $gray-900 !default;
$body-bg: $white !default;
$body-emphasis-color: $black !default;

// Links
// Style anchor elements.
$link-color: $blue !default;
$link-decoration: underline !default;
$link-shade-percentage: 20% !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: null !default;

// Typography
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default; // TODO: Define Heading Font Family
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;

$font-family-base: var(--#{$prefix}font-sans-serif) !default;
$font-family-heading: var(--#{$prefix}font-serif) !default;
$font-family-code: var(--#{$prefix}font-monospace) !default;

// Font sizes
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$small-font-size: 0.875em !default;
$sub-sup-font-size: 0.75em !default;

// Font weights
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

// Line heights
$line-height-base: 1.25 !default;
$line-height-sm: 1 !default;
$line-height-lg: 2 !default;

// Headings
// $headings-margin-bottom: $spacer !default;
$headings-font-family: $font-family-heading !default;
$headings-font-style: null !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

// Paragraphs
$paragraph-margin-bottom: $spacer !default;

// Code
$code-font-size: $small-font-size !default;
$code-color: $pink !default;

$kbd-padding-y: 0.1875rem !default;
$kbd-padding-x: 0.375rem !default;
$kbd-font-size: $code-font-size !default;
$kbd-color: var(--#{$prefix}body-bg) !default;
$kbd-bg: var(--#{$prefix}body-color) !default;

$pre-color: null !default;

// Mark
$mark-padding: 0.1875em !default;
$mark-color: $body-color !default;
$mark-bg: tint-color($yellow, 80%) !default;

// Components
$border-width: 1px !default;

// hr
$hr-color: inherit !default;
$hr-margin-y: $spacer !default;
$hr-border-color: null !default; // Allows for inherited colors
$hr-border-width: var(--#{$prefix}border-width) !default;
$hr-opacity: 0.25 !default;

// Legend
$legend-margin-bottom: 0.5rem !default;
$legend-font-size: 1.5rem !default;
$legend-font-weight: null !default;

// DT
$dt-font-weight: $font-weight-bold !default;

// Border Radius
$border-radius: 0.375rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;

// Tables
$table-cell-padding-y: 0.5rem !default;
$table-cell-padding-x: 0.5rem !default;
$table-cell-padding-y-sm: 0.25rem !default;
$table-cell-padding-x-sm: 0.25rem !default;

$table-cell-vertical-align: top !default;

$table-color: var(--#{$prefix}emphasis-color) !default;
$table-bg: var(--#{$prefix}body-bg) !default;
$table-accent-bg: transparent !default;

$table-th-font-weight: null !default;
$table-caption-color: $gray-600 !default;
